@import "tailwindcss";

@theme {
    --font-bebas-neue: var(--font-bebas-neue);
    --font-sans: var(--font-manrope);

    --color-primary: #d3e97a;
    --color-offwhite: #c7c7c7;
    --color-white: #ffffff;
    --color-dark-gray: #484848;
    --color-dark: #0a0a0a;
}

@layer base {
    button:not([disabled]),
    [role="button"]:not([disabled]) {
        cursor: pointer;
    }
}

html,
body {
    @apply bg-dark text-offwhite;
}

.container {
    @apply max-w-[1224px] mx-auto px-4;
}
